# **Assignment 2**
###### Further application of Python basics. Do not use existing functions in Python packages. Use the basic Python data structure and loops to do the work.

#### **Task 1 Read in a data file of all counties in the US.**
###### Make a list of unique county names.

In [12]:
def LoadJson():
     import requests, json
     url = "https://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_050_00_5m.json"

     # get the json data from the URL
     with requests.get(url) as response:
           data = response.json()
     return data

def JsonfileToData():
     data = LoadJson()
     features = data['features']
     return features


# The following part is not used to implement the tasks in the assignment
# The following part is not essential for further tasks in the assignment, just added to better understand the structure of the input data
def dataStructureAnalysis(cols, data):
    import pandas as pd
    df =  pd.DataFrame(columns = cols)
    for f in data:
          #print(f['properties']['NAME'])
          df0 = pd.DataFrame(f['properties'], index=[0])
          df = pd.concat([df[:], df0[:]])
    return df

# main procedure:
features = JsonfileToData()
cols = ['GEO_ID','STATE', 'COUNTY', 'NAME', 'LSAD', 'CENSUSAREA']
# 1. Use + to concatenate strings
print('Number of Counties in US: ' + str(len(features)))
# 2. Use format function
print('The first entry is {}'.format(features[0]['properties']['NAME']))
# 3. use f to print
print(f'The second entry is {features[1]["properties"]["NAME"]}')

#dataStructureAnalysis(cols, features)

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton

In [2]:
countries = set()
data = JsonfileToData()
for f in data:
     countries.add(f['properties']['NAME'])
print("The list of unique county names:", countries)
print("The number of unique county names:", len(countries))

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton

#### **Task 2 Find the three most common names of the counties.**
Derive the numbers of counties that use these three names, respectively. For each of them, list their county name and state code.

Hint: Think about what data structure would be best for this task. Once again, do not use special functions or packages for this task. Just use basic Python data structures and loops.

In [11]:
def mostCommonName(k):
  featureList = JsonfileToData()
  cntyDict = {}

  for f in featureList:                             # f will be an individual feature

      name = f['properties']['NAME']               # name will be the county name

      if cntyDict.get(name) is None:               # find the name for the first time, mark it as 1
          cntyDict.update({name: 1})
      else:
          n = cntyDict.get(name)
          cntyDict.update({name: n+1})

# Once you have the dictionary cntyDict. Sort it by value.
  cntyDictSorted = sorted(cntyDict.items(), key=lambda item:item[1], reverse=True)
  return cntyDictSorted[0:k]


# main procedure: get the three most common names of countries
cnty = mostCommonName(3)
print('The most common names of the counties are {}'.format([x[0] for x in cnty]))

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton
The most common names of the counties are ['Washington', 'Franklin', 'Jefferson']

In [17]:
# Derive the numbers of counties that use these three names, respectively. For each of them, list their county name and state code.
def commonCountries(data, k):
    cnty=mostCommonName(k)
    print('The numbers of counties that use these most common names are {}'.format(cnty))
    print(f'the top {k} most common counties along with state code.')
    print('%s  %s' % ("state","countries"))
    cnty_list=[x[0] for x in cnty]
    for f in data:
        cnty_name = f['properties']['NAME']
        if cnty_name in cnty_list:
            print('%s     %s' % (f['properties']['STATE'], cnty_name))

# main procedure: get the three most common names of countries with state code
commonCountries(data,3)

The numbers of counties that use these most common names are [('Washington', 31), ('Franklin', 26), ('Jefferson', 26)]
the top 3 most common counties along with state code.
state  countries
08     Washington
12     Washington
13     Franklin
05     Washington
01     Franklin
17     Jefferson
17     Washington
18     Franklin
13     Jefferson
16     Franklin
21     Franklin
19     Franklin
19     Jefferson
19     Washington
28     Franklin
23     Washington
24     Washington
29     Washington
36     Franklin
47     Washington
40     Washington
41     Jefferson
41     Washington
48     Franklin
55     Washington
49     Washington
50     Washington
08     Jefferson
05     Franklin
05     Jefferson
12     Franklin
12     Jefferson
20     Jefferson
20     Washington
21     Jefferson
18     Washington
21     Washington
27     Washington
01     Jefferson
13     Washington
22     Franklin
22     Jefferson
01     Washington
28     Jefferson
22     Washington
23     Franklin
16     Jefferson
16     Washington
25     Franklin
17     Franklin
18     Jefferson
20     Franklin
29     Franklin
29     Jefferson
47     Jefferson
47     Franklin
48     Jefferson
36     Jefferson
40     Jefferson
36     Washington
31     Franklin
31     Jefferson
30     Jefferson
37     Washington
37     Franklin
31     Washington
42     Franklin
39     Franklin
42     Jefferson
39     Jefferson
28     Washington
42     Washington
39     Washington
44     Washington
51     Franklin
54     Jefferson
51     Washington
51     Franklin
48     Washington
53     Franklin
55     Jefferson
53     Jefferson
50     Franklin

#### **Task 3 Basic statistics by state.**
For each state, find

The number of counties
The name and size (census area) of the biggest and smallest county by area
The total and average area of counties

In [ ]:
def AreaDetailInfo():  # filter the area info for each state
    featureList = JsonfileToData()
    cntyDict = {}

    for f in featureList:                             # f will be an individual feature

        STATE = f['properties']['STATE']

        if cntyDict.get(STATE) is None:               # find the name for the first time, mark it as 1
            cntyDict[STATE]= []

        cntyDict[STATE].append([f['properties']['NAME'],f['properties']['CENSUSAREA']])

    return cntyDict


def AreaEachState(arr):    # find max/min/total/average value for each state
    total = sum([item[1] for item in arr])
    average = total/len(arr)
    cntyDictSorted = sorted(arr, key=lambda item:item[1], reverse=True)
    return cntyDictSorted[0], cntyDictSorted[-1], total, average


def AreaStatistic(cntyDict):
    maxstat = {}
    minstat = {}
    totalstat = {}
    avestat = {}
    for c in cntyDict:
      maxstat[c], minstat[c], totalstat[c], avestat[c]= AreaEachState(cntyDict[c])

    return maxstat, minstat, totalstat, avestat

def print_table(data):
    for row in data:
      #print('%s   {0:<8s}  $%.2f' % (row,data[row][0],data[row][1]))
      print(row, "   ",'{0:<24s}'.format(data[row][0]),data[row][1])



# main procedure:
cntyDict = AreaDetailInfo()
print(f'The total number of states is {len(cntyDict)}')
maxstat, minstat, totalstat, avestat = AreaStatistic(cntyDict)
print("The name and size (census area) of the biggest county by area are:")
print_table(maxstat)
print("The name and size (census area) of the smallest county by area are:")
print_table(minstat)
print("The total area of counties are:")
for row in totalstat:
  print('%s   $%.2f' % (row,totalstat[row]))
print("The average area of counties are:")
for row in avestat:
  print('%s   $%.2f' % (row,avestat[row]))

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton
The total number of states is 52
The name and size (census area) of the biggest county by area are:
02     Yukon-Koyukuk            145504.789
04     Coconino                 18618.885
05     Union                    1039.214
08     Las Animas               4772.672
09     Litchfield               920.56
12     Collier                  1998.324
13     Ware                     892.461
06     San Bernardino           20056.938
01     Baldwin                  1589.784
17     McLean                   1183.378
18     Allen                    657.308
19     Kossuth                  972.72
15     Hawaii                   4028.417
16     Idaho                    8477.352
20     Butler                   1429.863
21     Pike                     786.833
22     Vernon                   1327.91
26     Marquette                1808.401
27     St. Louis                6247.401
28     Yazoo                    922.947
23     Aroostook                6671.33
24     Frederick                660.221
25     Worcester                1510.77
30     Beaverhead               5541.624
31     Cherry                   5960.422
32     Nye                      18181.924
33     Coos                     1794.685
34     Burlington               798.576
35     Catron                   6923.69
29     Texas                    1177.266
37     Robeson                  949.221
38     McKenzie                 2760.323
39     Ashtabula                701.931
40     Osage                    2246.358
36     St. Lawrence             2680.377
45     Horry                    1133.896
46     Meade                    3470.984
47     Shelby                   763.174
41     Harney                   10133.17
42     Lycoming                 1228.594
48     Brewster                 6183.733
49     San Juan                 7819.988
53     Okanogan                 5267.978
54     Randolph                 1039.681
55     Marathon                 1544.983
56     Sweetwater               10426.649
72     Arecibo                  125.947
50     Windsor                  969.337
51     Pittsylvania             968.941
10     Sussex                   936.079
11     District of Columbia     61.048
44     Providence               409.502
The name and size (census area) of the smallest county by area are:
02     Skagway                  452.325
04     Santa Cruz               1236.916
05     Lafayette                528.268
08     Broomfield               33.034
09     Middlesex                369.301
12     Union                    243.556
13     Clarke                   119.2
06     San Francisco            46.873
01     Etowah                   534.991
17     Putnam                   160.161
18     Ohio                     86.14
19     Dickinson                380.606
15     Kalawao                  11.991
16     Payette                  406.867
20     Wyandotte                151.6
21     Robertson                99.911
22     Orleans                  169.423
26     Benzie                   319.704
27     Ramsey                   152.212
28     Alcorn                   400.038
23     Sagadahoc                253.695
24     Baltimore                80.944
25     Nantucket                44.97
30     Silver Bow               718.477
31     Sarpy                    238.99
32     Carson City              144.662
33     Strafford                368.975
34     Hudson                   46.191
35     Los Alamos               109.167
29     St. Louis                61.909
37     Chowan                   172.473
38     Eddy                     630.171
39     Lake                     227.493
40     Marshall                 371.08
36     New York                 22.829
45     McCormick                359.13
46     Clay                     412.185
47     Trousdale                114.193
41     Multnomah                431.297
42     Montour                  130.242
48     Rockwall                 127.036
49     Davis                    298.778
53     San Juan                 173.915
54     Hancock                  82.609
55     Pepin                    231.983
56     Hot Springs              2004.092
72     Cata�o                   4.845
50     Grand Isle               81.811
51     Falls Church             1.999
10     New Castle               426.286
11     District of Columbia     61.048
44     Bristol                  24.164
The total area of counties are:
02   $570640.95
04   $113594.09
05   $52035.48
08   $103641.89
09   $4842.36
12   $53624.76
13   $57513.49
06   $155779.22
01   $50645.33
17   $55518.93
18   $35826.11
19   $55857.13
15   $6422.63
16   $82643.12
20   $81758.72
21   $39486.33
22   $43203.91
26   $56538.90
27   $79626.74
28   $46923.27
23   $30842.92
24   $9707.24
25   $7800.06
30   $145545.80
31   $76824.18
32   $109781.18
33   $8952.65
34   $7354.22
35   $121298.15
29   $68741.53
37   $48617.90
38   $69000.80
39   $40860.70
40   $68594.92
36   $47126.39
45   $30060.70
46   $75811.00
47   $41234.89
41   $95988.01
42   $44742.70
48   $261231.71
49   $82169.62
53   $66455.52
54   $24038.21
55   $54157.80
56   $97093.14
72   $3423.78
50   $9216.66
51   $39490.09
10   $1948.54
11   $61.05
44   $1033.82
The average area of counties are:
02   $19677.27
04   $7572.94
05   $693.81
08   $1619.40
09   $605.29
12   $800.37
13   $361.72
06   $2685.85
01   $755.90
17   $544.30
18   $389.41
19   $564.21
15   $1284.53
16   $1878.25
20   $778.65
21   $329.05
22   $675.06
26   $681.19
27   $915.25
28   $572.24
23   $1927.68
24   $404.47
25   $557.15
30   $2599.03
31   $826.07
32   $6457.72
33   $895.26
34   $350.20
35   $3675.70
29   $597.75
37   $486.18
38   $1301.90
39   $464.33
40   $890.84
36   $760.10
45   $653.49
46   $1148.65
47   $434.05
41   $2666.33
42   $667.80
48   $1028.47
49   $2833.44
53   $1703.99
54   $437.06
55   $752.19
56   $4221.44
72   $43.89
50   $658.33
51   $294.70
10   $649.51
11   $61.05
44   $206.76

In [ ]:
# validation
cntyDict = AreaDetailInfo()
print('The state 44 is with countries:', cntyDict['44'])

maxstat, minstat, totalstat, avestat = AreaStatistic(cntyDict)
print("The name and size (census area) of the biggest county by area in state 44 is:", maxstat['44'])
print("The name and size (census area) of the smallest county by area in state 44 is:", minstat['44'])
print("The total area of counties in state 44 is:", totalstat['44'])
print("The average area of counties in state 44 is:", avestat['44'])

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton
The state 44 is with countries: [['Bristol', 24.164], ['Kent', 168.528], ['Newport', 102.386], ['Providence', 409.502], ['Washington', 329.235]]
The name and size (census area) of the biggest county by area in state 44 is: ['Providence', 409.502]
The name and size (census area) of the smallest county by area in state 44 is: ['Bristol', 24.164]
The total area of counties in state 44 is: 1033.815
The average area of counties in state 44 is: 206.763

#### **Bonus Point**

Using the JSON files for state fips and abbreviations, add state names and abbreviations to the county data above. You are also encouraged to write a new JSON file for the counties with full state name, abbreviation, and FIPS code.

In [ ]:
statesabb = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'PR']

states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming',
    'PR': 'Puerto Rico',
    'VI': 'Virgin Islands'
}


FIPS = {
    '02':'AK', '01':'AL', '05':'AR', '04':'AZ', '06':'CA','08': 'CO',
    '09':'CT', '11':'DC', '10':'DE','12': 'FL', '13':'GA',
    '15':'HI', '19':'IA', '16':'ID', '17':'IL', '18':'IN', '20':'KS', '21':'KY',
    '22':'LA', '25':'MA', '24':'MD', '23':'ME', '26':'MI', '27':'MN', '29':'MO', '28':'MS',
    '30':'MT', '37':'NC', '38':'ND', '31':'NE', '33':'NH', '34':'NJ', '35':'NM',
    '32':'NV', '36':'NY', '39':'OH', '40':'OK', '41':'OR', '42':'PA', '44':'RI', '45':'SC',
    '46':'SD', '47':'TN', '48':'TX', '49': 'UT', '51':'VA', '50':'VT', '53':'WA','55': 'WI', '54':'WV', '56':'WY',
    '72': 'PR', '78': 'VI'
 }

In [ ]:
def print_table2(data):
    n=7
    print('State No.',' '*n,'State Abb.',' '*n,'State Name',' '*2*n,'Country Name',' '*2*n,'Area')
    for row in data:
      print(row,' '*2*n,FIPS[row],' '*2*n,'{0:<20s}'.format(states[FIPS[row]]),'{0:<24s}'.format(data[row][0]),data[row][1])



# main procedure:   add state names and abbreviations to the county data
cntyDict = AreaDetailInfo()
print(f'The total number of states is {len(cntyDict)}')
maxstat, minstat, totalstat, avestat = AreaStatistic(cntyDict)
print("The name and size (census area) of the biggest county by area are:")
print_table2(maxstat)
print("The name and size (census area) of the smallest county by area are:")
print_table2(minstat)
print("The total area of counties are:")
print('%s     %s      %s           %s' % ('State No.','State Abb.','State Name','Area'))
for row in totalstat:
  print(row,' '*10,FIPS[row],' '*10,'{0:<20s}'.format(states[FIPS[row]]),'$%.2f' %(totalstat[row]))
print("The average area of counties are:")
print('%s     %s      %s           %s' % ('State No.','State Abb.','State Name','Area'))
for row in avestat:
  print(row, ' '*10,FIPS[row],' '*10,'{0:<20s}'.format(states[FIPS[row]]),'$%.2f' %(avestat[row]))

Number of Counties in US: 3221
The first entry is Valdez-Cordova
The second entry is Wade Hampton
The total number of states is 52
The name and size (census area) of the biggest county by area are:
State No.         State Abb.         State Name                Country Name                Area
02                AK                Alaska               Yukon-Koyukuk            145504.789
04                AZ                Arizona              Coconino                 18618.885
05                AR                Arkansas             Union                    1039.214
08                CO                Colorado             Las Animas               4772.672
09                CT                Connecticut          Litchfield               920.56
12                FL                Florida              Collier                  1998.324
13                GA                Georgia              Ware                     892.461
06                CA                California           San Bernardino           20056.938
01                AL                Alabama              Baldwin                  1589.784
17                IL                Illinois             McLean                   1183.378
18                IN                Indiana              Allen                    657.308
19                IA                Iowa                 Kossuth                  972.72
15                HI                Hawaii               Hawaii                   4028.417
16                ID                Idaho                Idaho                    8477.352
20                KS                Kansas               Butler                   1429.863
21                KY                Kentucky             Pike                     786.833
22                LA                Louisiana            Vernon                   1327.91
26                MI                Michigan             Marquette                1808.401
27                MN                Minnesota            St. Louis                6247.401
28                MS                Mississippi          Yazoo                    922.947
23                ME                Maine                Aroostook                6671.33
24                MD                Maryland             Frederick                660.221
25                MA                Massachusetts        Worcester                1510.77
30                MT                Montana              Beaverhead               5541.624
31                NE                Nebraska             Cherry                   5960.422
32                NV                Nevada               Nye                      18181.924
33                NH                New Hampshire        Coos                     1794.685
34                NJ                New Jersey           Burlington               798.576
35                NM                New Mexico           Catron                   6923.69
29                MO                Missouri             Texas                    1177.266
37                NC                North Carolina       Robeson                  949.221
38                ND                North Dakota         McKenzie                 2760.323
39                OH                Ohio                 Ashtabula                701.931
40                OK                Oklahoma             Osage                    2246.358
36                NY                New York             St. Lawrence             2680.377
45                SC                South Carolina       Horry                    1133.896
46                SD                South Dakota         Meade                    3470.984
47                TN                Tennessee            Shelby                   763.174
41                OR                Oregon               Harney                   10133.17
42                PA                Pennsylvania         Lycoming                 1228.594
48                TX                Texas                Brewster                 6183.733
49                UT                Utah                 San Juan                 7819.988
53                WA                Washington           Okanogan                 5267.978
54                WV                West Virginia        Randolph                 1039.681
55                WI                Wisconsin            Marathon                 1544.983
56                WY                Wyoming              Sweetwater               10426.649
72                PR                Puerto Rico          Arecibo                  125.947
50                VT                Vermont              Windsor                  969.337
51                VA                Virginia             Pittsylvania             968.941
10                DE                Delaware             Sussex                   936.079
11                DC                District of Columbia District of Columbia     61.048
44                RI                Rhode Island         Providence               409.502
The name and size (census area) of the smallest county by area are:
State No.         State Abb.         State Name                Country Name                Area
02                AK                Alaska               Skagway                  452.325
04                AZ                Arizona              Santa Cruz               1236.916
05                AR                Arkansas             Lafayette                528.268
08                CO                Colorado             Broomfield               33.034
09                CT                Connecticut          Middlesex                369.301
12                FL                Florida              Union                    243.556
13                GA                Georgia              Clarke                   119.2
06                CA                California           San Francisco            46.873
01                AL                Alabama              Etowah                   534.991
17                IL                Illinois             Putnam                   160.161
18                IN                Indiana              Ohio                     86.14
19                IA                Iowa                 Dickinson                380.606
15                HI                Hawaii               Kalawao                  11.991
16                ID                Idaho                Payette                  406.867
20                KS                Kansas               Wyandotte                151.6
21                KY                Kentucky             Robertson                99.911
22                LA                Louisiana            Orleans                  169.423
26                MI                Michigan             Benzie                   319.704
27                MN                Minnesota            Ramsey                   152.212
28                MS                Mississippi          Alcorn                   400.038
23                ME                Maine                Sagadahoc                253.695
24                MD                Maryland             Baltimore                80.944
25                MA                Massachusetts        Nantucket                44.97
30                MT                Montana              Silver Bow               718.477
31                NE                Nebraska             Sarpy                    238.99
32                NV                Nevada               Carson City              144.662
33                NH                New Hampshire        Strafford                368.975
34                NJ                New Jersey           Hudson                   46.191
35                NM                New Mexico           Los Alamos               109.167
29                MO                Missouri             St. Louis                61.909
37                NC                North Carolina       Chowan                   172.473
38                ND                North Dakota         Eddy                     630.171
39                OH                Ohio                 Lake                     227.493
40                OK                Oklahoma             Marshall                 371.08
36                NY                New York             New York                 22.829
45                SC                South Carolina       McCormick                359.13
46                SD                South Dakota         Clay                     412.185
47                TN                Tennessee            Trousdale                114.193
41                OR                Oregon               Multnomah                431.297
42                PA                Pennsylvania         Montour                  130.242
48                TX                Texas                Rockwall                 127.036
49                UT                Utah                 Davis                    298.778
53                WA                Washington           San Juan                 173.915
54                WV                West Virginia        Hancock                  82.609
55                WI                Wisconsin            Pepin                    231.983
56                WY                Wyoming              Hot Springs              2004.092
72                PR                Puerto Rico          Cata�o                   4.845
50                VT                Vermont              Grand Isle               81.811
51                VA                Virginia             Falls Church             1.999
10                DE                Delaware             New Castle               426.286
11                DC                District of Columbia District of Columbia     61.048
44                RI                Rhode Island         Bristol                  24.164
The total area of counties are:
State No.     State Abb.      State Name           Area
02            AK            Alaska               $570640.95
04            AZ            Arizona              $113594.09
05            AR            Arkansas             $52035.48
08            CO            Colorado             $103641.89
09            CT            Connecticut          $4842.36
12            FL            Florida              $53624.76
13            GA            Georgia              $57513.49
06            CA            California           $155779.22
01            AL            Alabama              $50645.33
17            IL            Illinois             $55518.93
18            IN            Indiana              $35826.11
19            IA            Iowa                 $55857.13
15            HI            Hawaii               $6422.63
16            ID            Idaho                $82643.12
20            KS            Kansas               $81758.72
21            KY            Kentucky             $39486.33
22            LA            Louisiana            $43203.91
26            MI            Michigan             $56538.90
27            MN            Minnesota            $79626.74
28            MS            Mississippi          $46923.27
23            ME            Maine                $30842.92
24            MD            Maryland             $9707.24
25            MA            Massachusetts        $7800.06
30            MT            Montana              $145545.80
31            NE            Nebraska             $76824.18
32            NV            Nevada               $109781.18
33            NH            New Hampshire        $8952.65
34            NJ            New Jersey           $7354.22
35            NM            New Mexico           $121298.15
29            MO            Missouri             $68741.53
37            NC            North Carolina       $48617.90
38            ND            North Dakota         $69000.80
39            OH            Ohio                 $40860.70
40            OK            Oklahoma             $68594.92
36            NY            New York             $47126.39
45            SC            South Carolina       $30060.70
46            SD            South Dakota         $75811.00
47            TN            Tennessee            $41234.89
41            OR            Oregon               $95988.01
42            PA            Pennsylvania         $44742.70
48            TX            Texas                $261231.71
49            UT            Utah                 $82169.62
53            WA            Washington           $66455.52
54            WV            West Virginia        $24038.21
55            WI            Wisconsin            $54157.80
56            WY            Wyoming              $97093.14
72            PR            Puerto Rico          $3423.78
50            VT            Vermont              $9216.66
51            VA            Virginia             $39490.09
10            DE            Delaware             $1948.54
11            DC            District of Columbia $61.05
44            RI            Rhode Island         $1033.82
The average area of counties are:
State No.     State Abb.      State Name           Area
02            AK            Alaska               $19677.27
04            AZ            Arizona              $7572.94
05            AR            Arkansas             $693.81
08            CO            Colorado             $1619.40
09            CT            Connecticut          $605.29
12            FL            Florida              $800.37
13            GA            Georgia              $361.72
06            CA            California           $2685.85
01            AL            Alabama              $755.90
17            IL            Illinois             $544.30
18            IN            Indiana              $389.41
19            IA            Iowa                 $564.21
15            HI            Hawaii               $1284.53
16            ID            Idaho                $1878.25
20            KS            Kansas               $778.65
21            KY            Kentucky             $329.05
22            LA            Louisiana            $675.06
26            MI            Michigan             $681.19
27            MN            Minnesota            $915.25
28            MS            Mississippi          $572.24
23            ME            Maine                $1927.68
24            MD            Maryland             $404.47
25            MA            Massachusetts        $557.15
30            MT            Montana              $2599.03
31            NE            Nebraska             $826.07
32            NV            Nevada               $6457.72
33            NH            New Hampshire        $895.26
34            NJ            New Jersey           $350.20
35            NM            New Mexico           $3675.70
29            MO            Missouri             $597.75
37            NC            North Carolina       $486.18
38            ND            North Dakota         $1301.90
39            OH            Ohio                 $464.33
40            OK            Oklahoma             $890.84
36            NY            New York             $760.10
45            SC            South Carolina       $653.49
46            SD            South Dakota         $1148.65
47            TN            Tennessee            $434.05
41            OR            Oregon               $2666.33
42            PA            Pennsylvania         $667.80
48            TX            Texas                $1028.47
49            UT            Utah                 $2833.44
53            WA            Washington           $1703.99
54            WV            West Virginia        $437.06
55            WI            Wisconsin            $752.19
56            WY            Wyoming              $4221.44
72            PR            Puerto Rico          $43.89
50            VT            Vermont              $658.33
51            VA            Virginia             $294.70
10            DE            Delaware             $649.51
11            DC            District of Columbia $61.05
44            RI            Rhode Island         $206.76

In [ ]:
def addStateName():
     data = LoadJson()
     # add state name and abbreviation
     for k in range(len(data['features'])):
           num = data["features"][k]["properties"]["STATE"]
           data["features"][k]["properties"]["STATE ABB"] = FIPS[num]
           data["features"][k]["properties"]["STATE NAME"] =states[FIPS[num]]

     return data


# main procedure:
import json
data = addStateName()
# save the result as a JSON file:
with open("sample.json", "w") as outfile:
    json.dump(data, outfile)

In [ ]:
x= {'a':[{'b':{'c':'d','e':'f'}},{'g':{'h':'i','j':'k'}}]}

x['a'][0]['n']='m'

x

{'a': [{'b': {'c': 'd', 'e': 'f'}, 'n': 'm'}, {'g': {'h': 'i', 'j': 'k'}}]}